$colors: (
  main: #5af,
  seconday: #fff,
);

@mixin section-heading {
  letter-spacing: 1rem;
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.showcase {
  height: 100vh;
  background-color: #363636;

  .showcase-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1,
    h3 {
      margin: 0;
      letter-spacing: 1.2rem;
      color: map-get($colors, seconday);
      line-height: 2.2;
      text-transform: uppercase;
      font-weight: lighter;
      padding: 0 1rem;

      .blue {
        color: map-get($colors, main);
      }
    }
  }

  .showcase-icons {
    color: map-get($colors, seconday);
    font-size: 2rem;

    i {
      margin: 1rem 1rem;
    }
  }
}

.about-me {
  padding: 8rem 1.5rem;
  padding-bottom: 0;
  h1 {
    @include section-heading();
  }
  .about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      width: 80%;
      margin: 2rem 0;
    }

    img {
      margin-top: 1rem;
      width: 50%;
      border-radius: 50%;
    }
  }
}

.tools {
  padding: 0 1.5rem;
  padding-top: 8rem;
  text-align: center;

  h1 {
    @include section-heading();
  }
  .tools__container {
    display: flex;
    font-size: 5rem;
    flex-direction: column;
    padding-top: 2rem;

    i {
      margin: 1rem 0;
    }
  }
}

.portfolio {
  padding: 0 1.5rem;
  padding-top: 8rem;

  text-align: center;

  h1 {
    @include section-heading();
  }
  .portfolio__container {
    display: flex;
    flex-direction: column;
    justify-self: center;

    .project {
      margin: 2rem 0;
      h2 {
        @include section-heading();
        font-size: 1.2rem;
        letter-spacing: 0;
      }
    }
  }
}

img {
  width: 90%;
}

.fa-html5 {
  color: #e44d26;
}
.fa-js {
  color: #f0db4f;
}

.fa-bootstrap {
  color: #513d79;
}

.fa-sass {
  color: #cd679a;
}

.fa-git-alt {
  color: #f05033;
}

.fa-css3-alt {
  color: #264de4;
}

// IPAD SIZE
@media (min-width: 768px) {
  .showcase {
    .showcase-container {
      h1 {
        font-size: 3rem;
      }
      h3 {
        font-size: 1.8rem;
      }
    }

    .showcase-icons {
      color: map-get($colors, seconday);
      font-size: 3rem;
    }
  }

  .about-me {
    h1 {
      font-size: 2.3rem;
    }
    .about-me__container {
      p {
        font-size: 1.2rem;
      }
    }
  }

  .tools {
    h1 {
      font-size: 2.3rem;
    }

    .tools__container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 5rem;

      i {
        font-size: 5rem;
        margin: 3rem 0;
      }
    }
  }

  .portfolio {
    h1 {
      font-size: 2.3rem;
    }

    .portfolio__container {
      .project {
        h2 {
          font-size: 1.8rem;
          letter-spacing: 0;
        }
      }
    }
  }
}

// DESKTOP
@media (min-width: 1000px) {
  .about-me {
    .about-me__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5rem;

      img {
        justify-self: end;
      }

      p {
        width: 50%;
      }
    }
  }

  .tools {
    h1 {
      font-size: 2.3rem;
    }

    .tools__container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 5rem;

      i {
        font-size: 7rem;
        margin: 3rem 0;
      }
    }
  }
}
